@model IEnumerable<PortalAcademico.Models.Curso>

<h1>Lista de Cursos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Horario Inicio</th>
            <th>Horario Fin</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var curso in Model)
    {
        <tr>
            <td>@curso.Nombre</td>
            <td>@curso.Creditos</td>
            <td>@curso.HorarioInicio</td>
            <td>@curso.HorarioFin</td>
        </tr>
    }
    </tbody>
</table>
<a asp-controller="Catalogo" asp-action="Index" class="btn btn-info">Ir al Catálogo de Cursos</a>

